html, body {
	padding:0;
  	margin:0;
  	font-family: Verdana;
}

.entete {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 45px;
	background: #9bbb58;
  	font-size: 13px;
  	color: white;
  	text-align: center;
}

.info {
	position: fixed;
	top: 45px;
	left: 0px;
	right: 0px;
	height: 20px;
	background: #727876;
  	font-size: 12px;
  	color: white;
  	text-align: center;
}

.contenu {
	position: fixed;
	top: 65px;
	left: 0px;
	right: 0px;
	bottom: 25px;
}

.logoMESGUEN{
	text-align: center;
}

.formulaire {
	margin: auto;
}

.formulaire form {
	text-align: center;
}

.saisi {
	padding-left: 10px;
	border: 2px solid #9bbb58;
  	border-radius: 30px;
}

.boutton {
	border: 2px solid #9bbb58;
  	border-radius: 30px;
  	color: white;
  	font-size: 15px;
  	background: #9bbb58;
}

.boutton:hover {
	border: 2px solid #727876;
  	color: white;
  	background: #727876;
}

.message {
	text-align: center;
}

.negatif {
	font-size: 10px;
	color: red;
}

.positif {
	font-size: 10px;
	color: #9bbb58;
}

.pieddepage {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 25px;
	background: #9bbb58;
  	font-size: 8px;
  	color: white;
  	text-align: center;
}

table {
	border-collapse: collapse;
	width: 100%;
}

#tableauTournee tr, #tableauTournee td  {
	border: 1px solid #d5d6d8;
	font-size: 12px;
}

#tableauTournee tr:nth-child(even) {
	background: #ecf1dd;
}

#tableauTournee tr:nth-child(odd) {
	background: #d8e5ba;
}

#tableauTournee th {
	font-size: 12px;
	text-align: left;
	border: 1px solid #d5d6d8;
	border-bottom: 2px solid black;
	background: #ecf1dd;
}

.tableauDAT {
	text-align: right;
}

.bouttonTAB, .bouttonAR {
	text-align: center;
}

.bouttonSUP, .bouttonMOD, .bouttonTAG {
	height: 15px;
}

.bouttonAJO, .bouttonRET, .bouttonSUP, .bouttonMOD, .bouttonTAG {
	vertical-align: middle;
	font-size: 12px;
}

.bouttonTAG:hover {
	cursor: default;
}